footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space);
    margin: var(--space) 0;
}

footer div.line {
    background-color: var(--font);
    width: 75%;
    height: 2px;
    border-radius: 25px;
}

footer p {
    max-width: 65%;
    text-align: center;
}