div#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

div#home div.presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 100%;
}

div#home div.presentation > p {
    width: 750px;
    min-width: 65%;
    max-width: 80%;
    padding: var(--padding-text);
    border-radius: 0 var(--padding-text) var(--padding-text) 0;
    box-shadow: 1rem 1rem 1rem var(--shadow);
    margin-bottom: 2rem;
}

div#home div.presentation > svg {
    width: 250px;
    min-width: 25%;
    max-height: 80%;
    margin: 0 auto;
    padding: var(--padding-text);
}

div#home div.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

div#home div.advantages > div {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    width: 500px;
    min-width: 30%;
    max-width: 90%;
    margin: 0 25px 2rem;
    padding: var(--padding-text);
    border: solid var(--secondary-opacity) var(--border);
    border-radius: var(--padding-text);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0 1rem 1rem var(--shadow);
    z-index: -1;
}

div#home div.advantages > div h3 {
    text-align: center;
}

div#home div.advantages > div ul {
    list-style-type: "\122B3\0020";
    margin-left: var(--padding-text);
}