div#install {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

div#install div.os {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 1000px;
    min-width: 50%;
    max-width: calc(90% - 2 * var(--padding-text));
    padding: var(--padding-text);
    border: solid var(--secondary-opacity) var(--border);
    border-radius: var(--padding-text);
    backdrop-filter: blur(var(--blur));
    box-shadow: 0 1rem 1rem var(--shadow);
    margin-bottom: 2rem;
    z-index: 1;
}

div#install div.os h2 {
    width: 90%;
}

div#install div.os h3 {
    width: 85%;
    margin-top: 0.75rem;
}

div#install div.os ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 80%;
}

div#install div.os code {
    font-size: 1rem;
}